<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite TestNG x Selenium">
        <test name="Test Actions">
            <classes>
                <class name="com.juaracoding.runners.RunnerTest" />
            </classes>
        </test>

<!--    <test name="Test Actions">-->
<!--        <classes>-->
<!--            <class name="com.juaracoding.runners.RunnerLogin" />-->
<!--        </classes>-->
<!--    </test>-->

</suite>











        <!--    Selenium Single        -->
        <!--            <class name="com.juaracoding.hooks.Hook" />-->
        <!--            <class name="com.juaracoding.test.LoginTest" />-->
        <!--            <class name="com.juaracoding.test.LogOutTest" />-->
        <!--            <class name="com.juaracoding.WebAdmin.test.JadwalTest" />-->
        <!--            <class name="com.juaracoding.WebAdmin.test.ShiftingTest" />-->

